---

---

<footer class='footer' id='footer'>
    <div>
        <div class='footer_logo'>
            <div class='f_logo'>
                <p>
                    <svg
                        stroke='currentColor'
                        fill='#f53152'
                        stroke-width='0'
                        viewBox='0 0 512 512'
                        height='1em'
                        width='1em'
                        ><path
                            d='M256 224c-79.41 0-192 122.76-192 200.25 0 34.9 26.81 55.75 71.74 55.75 48.84 0 81.09-25.08 120.26-25.08 39.51 0 71.85 25.08 120.26 25.08 44.93 0 71.74-20.85 71.74-55.75C448 346.76 335.41 224 256 224zm-147.28-12.61c-10.4-34.65-42.44-57.09-71.56-50.13-29.12 6.96-44.29 40.69-33.89 75.34 10.4 34.65 42.44 57.09 71.56 50.13 29.12-6.96 44.29-40.69 33.89-75.34zm84.72-20.78c30.94-8.14 46.42-49.94 34.58-93.36s-46.52-72.01-77.46-63.87-46.42 49.94-34.58 93.36c11.84 43.42 46.53 72.02 77.46 63.87zm281.39-29.34c-29.12-6.96-61.15 15.48-71.56 50.13-10.4 34.65 4.77 68.38 33.89 75.34 29.12 6.96 61.15-15.48 71.56-50.13 10.4-34.65-4.77-68.38-33.89-75.34zm-156.27 29.34c30.94 8.14 65.62-20.45 77.46-63.87 11.84-43.42-3.64-85.21-34.58-93.36s-65.62 20.45-77.46 63.87c-11.84 43.42 3.64 85.22 34.58 93.36z'
                        ></path></svg
                    >
                    FEE<span>LINO</span>
                </p>
            </div>
            <div class='footer_logo_text'>
                <p>
                    This is an informative website to learn a little more about
                    these wonderful animals that fill our days with tenderness,
                    mystery and joy, accompanying us with their unique charm and
                    unmatched personality. <br /><br />
                    Here you'll also find fun facts, surprising feline behaviors,
                    and everything that makes cats so special. Because understanding
                    them a little more is also a way of loving them better.
                </p>
            </div>
        </div>
        <div class='footer_links'>
            <div class='footer_asociations_webs'>
                <p>Associations</p>
                <ul>
                    <a target='_blank' href='https://www.alleycat.org/'
                        >Alley Cat Allies (USA)
                    </a>
                </ul>
                <ul>
                    <a
                        target='_blank'
                        href='https://bestfriends.org/adopt/adopt-our-sanctuary/cats'
                        >Best Friends Animal Society
                    </a>
                </ul>
                <ul>
                    <a target='_blank' href='https://www.gatocan.com/'
                        >Gatocan</a
                    >
                </ul>
                <ul>
                    <a
                        target='_blank'
                        href='https://www.cathouseonthekings.com/'
                        >The Cat House on the Kings
                    </a>
                </ul>
                <ul>
                    <a
                        target='_blank'
                        href='https://www.proteccionanimal.cdmx.gob.mx/'
                        >Red de Protección Animal CDMX</a
                    >
                </ul>
            </div>
            <div class='footer_info_webs'>
                <p>Information pages</p>
                <ul>
                    <a
                        target='_blank'
                        href='https://www.thesprucepets.com/cats-4162124'
                        >The Spruce Pets-Cats</a
                    >
                </ul>
                <ul>
                    <a target='_blank' href='https://pets.webmd.com/cats/'
                        >WebMD Pets-Cats</a
                    >
                </ul>
                <ul>
                    <a target='_blank' href='https://www.catster.com/'>Caster</a
                    >
                </ul>
                <ul>
                    <a target='_blank' href='https://www.purina.es/gatos'
                        >Purina</a
                    >
                </ul>
                <ul>
                    <a target='_blank' href='https://icatcare.org/advice/'
                        >International Cat Care</a
                    >
                </ul>
            </div>
            <div class='adopt_webs'>
                <p>Adopt your pet</p>
                <ul>
                    <a target='_blank' href='https://petshelter.miwuki.com/'
                        >Miwuki Pet Shelter (Spain)</a
                    >
                </ul>
                <ul>
                    <a
                        target='_blank'
                        href='https://mascotasenadopcionhn.com/nueva/'
                        >Mascotas en Adopción (Honduras)</a
                    >
                </ul>
                <ul>
                    <a target='_blank' href='https://gatogazzu.org/'
                        >La Casa del Gato Gazzu (México)</a
                    >
                </ul>
                <ul>
                    <a target='_blank' href='https://protectorabcn.es/'
                        >Protectora BCN (Spain)</a
                    >
                </ul>
            </div>
        </div>
    </div>
    <div class='footer_rights'>
        <p>
            Made by <a target='_blank' href='https://antonyleonel.com '
                >AntonyLeonel.com</a
            >
        </p>
    </div>
</footer>
<style>
    footer {
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        border-radius: 1em 1em 0 0;
        > div {
            display: flex;
            justify-content: space-between;
            padding: 1em;
            > div {
                width: 100%;
            }
        }
    }
    .footer_rights {
        padding: 1em;
    }
    .f_logo {
        font-weight: bolder;
        font-size: 1.3em;
        & p {
            color: var(--pink);
        }
        & span {
            color: var(--white);
        }
    }
    .footer_logo_text {
        padding-right: 3em;
        & p {
            color: var(--text);
            font-size: 0.8em;
            margin-top: 1em;
            line-height: 1.5em;
        }
    }
    a {
        text-decoration: none;
        color: var(--text);
        font-size: 0.8em;
        &:hover {
            text-decoration: underline;
        }
    }
    .footer_links {
        display: flex;
        gap: 1em;
        & p {
            color: var(--pink);
            font-size: 0.8em;
        }
    }
    @media (width < 768px) {
        footer {
            > div {
                flex-direction: column;
            }
        }
    }
    @media (width < 468px) {
        footer {
            > div {
                flex-direction: column;
                > div {
                    flex-direction: column;
                }
            }
        }
    }
</style>
