---
import cat1 from "../../public/images/cat1.jpg"
import cat2 from "../../public/images/cat2.jpg"
import cat3 from "../../public/images/cat3.jpg"
import cat4 from "../../public/images/cat4.jpg"
import cat5 from "../../public/images/cat5.jpg"
import cat6 from "../../public/images/cat6.jpg"
import { Image } from "astro:assets"
---

<section id='cats' class='many_cats'>
  <div class='m_content'>
    <div>
      <h2>Cat Breeds and Their Unique Personalities</h2>
      <p>
        Each cat has a unique nature, from restless explorers to companions who
        love tranquility. Find the one that fits you.
      </p>
      <div id='personalities' class='m_personalities'>
        <div id='border' class='border'>
          <h3>Curious & Adventurous</h3>
          <p>
            Loves exploring, climbing, and investigating everything. Always
            ready for a new challenge!
          </p>
        </div>
        <div class='border' id='border'>
          <h3>Affectionate & Homey</h3>
          <p>
            Enjoys cuddles, warm laps, and quiet moments. The perfect companion
            for cozy nights.
          </p>
        </div>
        <div class='border' id='border'>
          <h3>Independent & Mysterious</h3>
          <p>
            Values solitude, but secretly loves attention. A loyal yet enigmatic
            presence.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='m_image_container'>
    <Image src={cat1} id='cat' alt='cat1' /><Image
      src={cat2}
      id='cat'
      alt='cat2'
    /><Image id='cat' src={cat3} alt='cat3' />
  </div>
</section>
<style>
  .many_cats {
    width: 100%;
    display: flex;
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .m_image_container {
  }

  img {
    width: 0;
    flex-grow: 1;
    opacity: 0.6;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s ease;
    &:hover {
      width: 100px;
      filter: contrast(120%);
      opacity: 1;
    }
  }
  p,
  h2 {
    color: var(--text);
  }
  h2 {
    font: clamp(3rem, 8vw, 3rem);
  }
  .m_personalities {
    margin-top: 2em;
    & h3 {
      color: var(--pink);
    }
  }
  .border {
    transition: 0.3s ease;
  }
  .cat_active {
    padding: 0.4em 0.6em;
    border-radius: 0.5em;
    background: linear-gradient(90deg, pink, transparent);
  }
</style>
<script>
  const sections = document.querySelectorAll("#border")
  const images = document.querySelectorAll("#cat")
  images.forEach((img, i) => {
    img.addEventListener("mouseover", () => {
      sections[i].classList.add("cat_active")
    })
    img.addEventListener("mouseout", () => {
      sections[i].classList.remove("cat_active")
    })
  })
</script>
