<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='initial-scale=1.0,width=device-width ' />
    <link rel='icon' type='image/svg+xml' href='/src/assets/cat.ico' />
    <meta name='generator' content={Astro.generator} />
    <title>FEELINO | Your adorable page</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  p,
  h1,
  h2,
  h3 {
    text-wrap: pretty;
  }
  html {
    scroll-behavior: smooth;
    background: linear-gradient(
      65deg,
      var(--gray),
      var(--gray2),
      var(--gray2),
      var(--gray)
    );
  }
  body {
    margin: 0;
    max-width: 1200px;
    margin: 0 auto;
    background: transparent;
  }
  a {
    text-decoration: none;
    color: var(--white);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
  }
  section {
    margin: 0 0 10em 0;
  }
  :root {
    --gray: #555555;
    --gray05: #cbcdd1;
    --gray2: #cacaca;
    --gray3: #c0c0c0;
    --white: white;
    --pink: #f53152;
    --hoverPink: #d62f4b;
    --text: rgb(20, 20, 20);
  }
  .navButton {
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--white);
    font-size: 1.2rem;
    padding: 0.5em 1em;
    transition: 1s ease;
    border-radius: 0.4em;
    text-decoration: none;

    &:hover {
      background: var(--gray3);
    }
  }
  /* media queries samall screens  */
  @media (width < 768px) {
    #hero {
      flex-direction: column;
      > div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .cat_content {
      height: 40%;
    }
    .cat_carousel {
      height: 60%;
      & img {
        height: 100%;
      }
    }
    .many_cats {
      flex-direction: column;
      gap: 2em;
      height: 900px;
      > div {
        width: 80%;
        margin: 0 auto;
      }
      > div:nth-child(1) {
        height: 40%;
      }
      > div:nth-child(2) {
        height: 60%;
      }
    }
    .m_personalities {
      & p {
        font-size: 0.7em;
      }
    }
    .benefits,
    .history {
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      & img {
        filter: brightness(0.7);
        width: 100%;
        object-fit: cover;
      }
    }
    .b_text,
    .cats_info {
      background: transparent;
      backdrop-filter: blur(5px);
      border-radius: 1em;
      border: 3px solid var(--gray05);
      position: absolute;
      padding: 2em 1em;
      bottom: 10%;

      & p,
      h2 {
        color: white;
      }
      > div {
        border-color: var(--gray05);
      }
    }
    .b_text {
      width: 90%;
    }
    .cats_info {
      width: 90%;
      h2,
      p {
        color: white;
      }
    }
    nav {
      flex-direction: column;
    }
  }
  /* //media queries for larger screens---------------------------------------*/
  @media (width >= 768px) {
    #hero {
      height: 650px;
      flex-direction: row;
    }
    .cat_carousel {
      width: 50%;
      & img {
        height: 100%;
      }
    }
    cat_content {
      width: 50%;
    }
    .many_cats {
      flex-direction: row;
      height: 500px;
      width: 100%;
      > div {
        width: 50%;
      }
    }
    .m_personalities {
      & h3 {
        font-size: 1rem;
      }
      & p {
        font-size: 0.9em;
      }
    }
    .benefits {
      > div {
        width: 50%;
        height: 100%;
      }
    }
    .b_text {
      padding-left: 3em;
    }
    .history {
      > div:nth-child(1) {
        width: 40%;
      }
      > div:nth-child(2) {
        width: 60%;
      }
      p,
      h2 {
        color: var(--text);
      }
    }
  }
</style>
